.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

#main {
  max-width: 119rem;
  margin: auto;
  padding: 5rem var(--page-side-padding)
}

.no-wc-styles {
  margin-bottom: 2rem;
}

.no-wc-styles h2,
.no-wc-styles h2::before,
.no-wc-styles h2::after {
  all: revert !important;
}

.list {
  padding: 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .list {
  margin: 0;
}

.footer__colophon {
  --link-color: var(--text-color);
}

.footer__colophon > div {
  display:flex;
  gap:2rem 2.5%;
  flex-direction: column;
}

@media screen and (min-width:950px) {
  .footer__colophon > div {
    flex-direction: row;
  }
}

.svg-defs {
  position: absolute;
}

.interstitial-status {
  margin: 0;
}

.footer__contact-address {
  white-space: nowrap;
  font-style: normal;
}

.footer__toll-free-label {
  font-style: italic;
}

.mark-link {
  display: inline-block;
  min-width: 10rem;
  width: 10rem;
  padding: .25rem 0;
}

.legal-links {
  font-size: var(--font-size--3xsmall);
  line-height: var(--line-height--snug);
}

.legal-link {
  display: inline-block;
  padding: .5rem 0;
}

.legal-link--copyright {
  font-style: italic;
}
